extends ../layout.pug

block content
  h1 Áreas registradas

  if mensajeExito
    script.
      alert("#{mensajeExito}")

  if areas.length
    table
      thead
        tr
          th ID
          th Nombre
          th Descripción
          th Acciones
      tbody
        each area in areas
          tr
            td #{area.id}
            td #{area.nombre}
            td #{area.descripcion}
            td
              form(action=`/areas/editar/${area.id}`, method='GET', style='display:inline')
                button(type='submit') Editar
              form(action=`/areas/eliminar/${area.id}?_method=DELETE`, method='POST', style='display:inline')
                button(type='submit', onclick='return confirm("¿Eliminar esta área?")') Eliminar
  else
    p No hay áreas registradas.

  form(action='/areas/nueva', method='GET')
    button(type='submit' class='agregar-btn') Agregar nueva área
