extends ../layout.pug

block content
  h1 Editar empleado

  form(action=`/empleados/editar/${empleado.id}?_method=PUT`, method='POST')
    div
      label(for='nombre') Nombre
      br
      input(type='text', name='nombre', id='nombre', value=empleado.nombre, required, style='width: 700px')

    br
    br

    div
      label(for='apellido') Apellido
      br
      input(type='text', name='apellido', id='apellido', value=empleado.apellido, required, style='width: 700px')

    br
    br

    div
      label(for='rol') Rol
      br
      select(name='rol', id='rol', required, style='width: 700px')
        each r in roles
          option(value=r.nombre selected=(r.nombre === empleado.rol))= r.nombre

    br
    br

    div
      label(for='area') Área
      br
      select(name='area', id='area', required, style='width: 700px')
        each a in areas
          option(value=a.nombre selected=(a.nombre === empleado.area))= a.nombre

    br
    br

    div
      label(for='activo') Estado
      br
      select(name='activo', id='activo', style='width: 700px')
        option(value='true', selected=empleado.activo === true) Activo
        option(value='false', selected=empleado.activo === false) Inactivo

    br
    br

    div
      button(type='submit') Guardar cambios