extends ../layout.pug

block contenido
  if mensajeExito
    script.
      alert("#{mensajeExito}")

  h1 Lista de Empleados

  br

  if datos && datos.length
    table(border='1', cellpadding='8', cellspacing='0', style='width: 100%; border-collapse: collapse')
      thead
        tr
          th ID
          th Nombre
          th Apellido
          th Rol
          th Área
          th Estado
          th Acciones
      tbody
        each empleado in datos
          tr
            td= empleado.id
            td= empleado.nombre
            td= empleado.apellido
            td= empleado.rol
            td= empleado.area
            td= empleado.activo ? 'Activo' : 'Inactivo'
            td
              form(action=`/empleados/editar/${empleado.id}`, method='GET', style='display:inline')
                button(type='submit') Editar
              form(action=`/empleados/eliminar/${empleado.id}?_method=DELETE`, method='POST', style='display:inline')
                button(type='submit', onclick='return confirm("¿Eliminar este empleado?")') Eliminar
  else
    p No hay empleados registrados.

  br
  br

  div
    form(action='/empleados/nuevo', method='GET')
      button(type='submit') Agregar nuevo empleado
